
            .col{
                
                height:100vh;

                display: flex;
                align-items: center;
                justify-content: center;
                
                

            }

            .container-fluid{
                background-color: rgba(222, 232, 238, 0.5);

            

            }

            #wrapper{
                background-color: rgba(255, 255, 255, 0.5);
                padding:21px;
                border-radius: 20px;
                width:400px;
                box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.15);
            }

            h3{
                font-family: 'Khula', sans-serif;
                text-align: center;
                margin-bottom:21px;
                padding: 20px;
            }

            

            input{
                
               width:70%; 
               background: transparent;
               border: none;
               border-bottom: 1px solid rgba(165, 165, 165, 0.9);
               padding: 5px;
               font-family: 'Khula', sans-serif;
               margin: 0 auto;
               display: block;
               margin-bottom: 20px;
               
            }
            
            
            input::placeholder{
                color:rgba(165, 165, 165, 0.9);
            }

            button{
                
                margin-bottom: 40px;
                width:70%;
                
                margin: 0 auto;
                font-family: 'Khula', sans-serif;
                display:block;
                background-color:rgb(64, 64, 250);
                border-radius:50px;
                border:none;
                color:white;
                font-size:15px;
                
                
                padding:10px 50px;
                box-shadow: 5px 5px 5px 0px rgba(94, 94, 94, 0.20);
            }

          .button-padding{
            margin-top: 40px; 
            margin-bottom: 30px;
          }